<div class="users">
  <% @users.each do |user| %>

  <div class="user-pin">
    <%= link_to image_tag(user.profile_pic.show.url, class: "index-image"), user_path(user) %>
  </div>
  <% end %>
</div>

<div class="contact">
  <p><a href="mailto:awskinner26@gmail.com"><img class="icon2" src="/assets/email-08c30256974eaa91191538791e4f7c47.png" alt="Email"></a>
  <a href="http://www.twitter.com/aliskinner1"><img class="icon2" src="/assets/twitter-88849efccc4255c18d864eaad491a110.png" alt="Twitter"></a>
  <a href="http://skinabsentia.wordpress.com"><img class="icon2" src="/assets/website-39aa838cdbebad9516b6d0f3344cbf5f.png" alt="Website"></a></p>
</div>

<footer>
      <a class="twitter-timeline"  height="350" width="300" href="https://twitter.com/hashtag/soundflex" data-widget-id="565641102737571840">#soundflex Tweets</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</footer>