<div class="users">
  <% @users.each do |user| %>
  <div class="user-pin">
    <%= link_to image_tag(user.profile_pic.show.url, class: "index-image"), user_path(user) %>
  </div>
  <% end %>
</div>

<footer>
      <a class="twitter-timeline"  height="350" width="300" href="https://twitter.com/hashtag/soundflex" data-widget-id="565641102737571840">#soundflex Tweets</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</footer>