.home-banner {
  max-height: 100px;
  width: 70%;
  margin: 0 auto;
}

.song {
  border: 2px solid black;
  max-width: 70%;
  margin: 0 auto;
}

.user-info {
  border: 2px solid black;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}

.user-info li {
  display: inline;
}

.user-info .profile-show {
  margin: 0 auto;
  /*text-align: center;*/
  /*border-radius: 100px;*/
}

.icon {
  max-height: 50px;
  margin: 0 10px;
}

.song-form {
  border: 2px solid black;
  margin: 10px auto;
  max-width: 70%;
  padding: 5px;
  text-align: center;
}

.song-form li {
  display: inline;
  padding: 0 20px;
  font-weight: bold;
}

.song-form a {
  text-decoration: none;
  margin: 0 auto;
  /*text-align: center;*/
}

.comment {
  /*line-height: 5px;*/
  margin: 5px 0;
  }

  .comment p {
    margin:2px;
  }

  .user-pin {
    display:inline;
  }

  #twitter-widget-0 {
    max-height: 400px;
    max-width: 200px;
    float: right;
  }