html {
  font-family: Helvetica Neue;
  background: black fixed;
  color: grey;
}

html a {
  text-decoration: none;
  color: grey;
}

header {
  position: fixed;
  background: black;
  width: 100%;
  top:0px;
  z-index: 100;
  padding: 0;
}

.site-head {
  display: inline;
  font-size: 70px;
  margin: 0;
  margin-right: 46%;
  padding: 0;
  height: 70px;
}


 a:hover,
 .song a:hover {
  color: rgba(255,255,255,1);
  transition:all 0.5s ease;
}

.contact {
  width: 300px;
  height: 150px;
  border: 1px solid grey;
  float: right;
  margin-top: 45px;
  margin-right: 10px;
  right: 0;
  position: fixed;
  text-align: center;
  /*display: inline;*/
}

.icon2 {
  /*display: inline;*/
  max-height: 50px;
}

.comment-field {
  padding: 5px;
  text-align: center;
}

input {
  background-color: grey;
  border: none;
  height: 20px;
}


.login {
  text-align: right;
  font-size: 25px;
  background-color: black;
  color: grey;
  display: inline;
  top: 0;
  /*margin-top: -20px;*/
  /*margin-bottom: 10px;*/
  /*height: 100%;*/
  /*margin-left: 50%;*/
}



.site-content {
  margin-top: 90px;
  /*position: relative;*/
}


.users {
  max-width: 76%;
  float:left;
  position: relative;
  margin-bottom: 20px;

  /*overflow: auto;*/
  /*clear: both;*/

}


#twitter-widget-0 {
  /*max-height: 400px;*/
  max-width: 20%;
  float: right;
  margin-bottom: auto;
  margin-top: 30px;
  /*margin-left: auto;*/
  position: fixed;  
  /*bottom: 0;*/
  height: 80%;
}

.index-image {
  height: 200px;
  max-width: 300px;
}


.user-name {
  display: inline;
  position: absolute;
/*  top: 0;
  left: 0;*/
  width: 100%;
  height: 100%;
  /*z-index: 100;*/
  text-align: center;
  color: white;
  font-size: 30px;
  opacity: 0;
  background-color: white;
}


.user-comments {
  border: 2px solid black;
  max-width: 70%;
  /*margin-left: 25%;*/
  margin: 0 auto;
  background-color: rgba(225,225,225,1);
  margin-bottom: 20px;
  border-radius: 5px;
}

.user-info {
  /*border: 2px solid black;*/
  max-width: 50%;
  margin: 0 auto;
  margin-top: 90px;
  text-align: center;
  background: rgba(255,255,255,.9);
  padding: 20px;
  border-radius: 5px;
  color: black;
}

.user-info li {
  display: inline;
}

.user-info .profile-show {
  margin: 0 auto;
  /*text-align: center;*/
  /*border-radius: 100px;*/
}

.icon {
  max-height: 50px;
  margin: 0 10px;
  /*border-radius: 80%;*/
  background: rgba(255,255,255,0.5);
  background: radial-gradient(rgba(225, 225, 225, 1),  rgba(225, 225, 225, 0));
}


.song-form {
  border: 2px solid black;
  margin: 10px auto;
  max-width: 70%;
  padding: 5px;
  text-align: center;
}

.song-form li {
  display: inline;
  padding: 0 20px;
  font-weight: bold;
}

.song-form a {
  text-decoration: none;
  margin: 0 auto;
  /*text-align: center;*/
}


.user-pin {
  display:inline;
  background: rgba(0,0,0,0);
  color: rgba(0,0,0,0);
  position: relative;
  }

.user-pin:hover {
  opacity: 0.5;
  transition:all 0.5s ease;

  }

.song  {
   background-color:rgba(66,66,66,1);
   max-width: 50%;
   margin: 5px auto;  
   color: black;
   padding: 10px;
   border-radius: 5px;
  }

.song a {
  color: black;    
  font-weight: bold;
  }


.comment {
   color: black;
  }

#comment_content {
  max-width: 90%;
  margin-top: 10px;
}



audio {
  width: 99%;
  margin: 0 auto;
}

.user-comment-title {
  margin: 30px 0 10px 191px;
  border-top: solid 1px grey;
  padding-top: 5px;
  max-width: 70%;
}

.add-comment {
  text-align: center;
  padding: 5px;
  font-weight: bold;
}

.comment {
  /*line-height: 5px;*/
  margin: 5px 0;
  background-color: grey; 
  width: 100%;
  text-align:left;
  }

  .dateline {
    text-align: right;
  }

  .comment-image {
    max-height: 70px;
  }

.submit {
  height: 35px;
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: bold;
  border:none;
  margin-top: 10px;
}

.submit:hover {
  background-color: rgba(94,94,94,1);
  color: white;
  /*background-color: rgba(255,255,255,1);*/
  transition:all 0.5s ease;

}
.new-login {
  max-width: 200px;
  padding-left: 42%;
  padding-top: 50px;
  line-height: 30px;
}
.new-login input,
.register input {
  width: 100%;
}

.new-login textarea,
.register textarea {
  background-color: grey;
  border: none;
  height: 90px;
  width: 350px;
  
}

.register {
  max-width: 350px;
  padding-left: 2%;
  padding-top: 50px;
  line-height: 30px;
}

input:focus{
 outline-color:white;
}​

.song-form input[type="file"] {
  background-color: black;
}

.date {
  margin-left: auto;
}

ff {
  background-color: black;
  height: 300px;
}